body {
    font-family: Arial, sans-serif;
    background-color: #ebddea;
    margin: 0;
    padding: 0;
}


/* header 요소의 스타일 */
header {
    text-align: center; /* 텍스트를 가운데 정렬 */
    background-color: #FFFFB5; /* 배경색 설정 */
    color:#333; /* 텍스트 색상 설정 */
    padding:40px 20px; /* 내부 여백 설정 */
    margin: 0 20px; /* 바깥 여백 설정 */
    border-radius: 10px; /* 테두리 반경 설정 */
    max-width: 1000px; /* 최대 너비 설정 */
    margin: 0 auto; /* 요소를 수평 가운데 정렬 */
    font-size: 2em; /* 글꼴 크기 설정 */
}

/* .container 요소의 스타일 */
.container {
    margin: 20px; /* 바깥 여백 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}

/* input 및 button 요소의 스타일 */
input, button {
    padding: 10px; /* 내부 여백 설정 */
    margin: 10px 0; /* 바깥 여백 설정 */
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    border-radius: 5px; /* 테두리 반경 설정 */
    font-size: 16px; /* 글꼴 크기 설정 */
}

/* input 요소의 스타일 */
input {
    width: 100%; /* 너비 설정 */
    max-width: 600px; /* 최대 너비 설정 */
}

/* button 요소의 스타일 */
button {
    background-color: #abbce8; /* 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    cursor: pointer; /* 커서 스타일 설정 */
    font-size: 1em; /* 글꼴 크기 설정 */
}

/* Pseudo-class를 사용하여 버튼에 호버 효과(색깔 변환) 추가 */
button:hover {
    background-color: #8a9ee8;
}

/* footer 요소의 스타일 */
footer {
    text-align: center; /* 텍스트를 가운데 정렬 */
    margin-top: 20px; /* 상단 여백 설정 */
}

/* #map 요소의 스타일 */
#map {
    width: 100%; /* 너비 설정 */
    height: 400px; /* 높이 설정 */
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    border-radius: 5px; /* 테두리 반경 설정 */
    margin-top: 20px; /* 상단 여백 설정 */
}

/* 화면 너비가 901px 이상일 때의 미디어 쿼리 */
@media (min-width: 901px) {
    #map {
        height: 600px; /* 높이 설정 */
    }

    input {
        font-size: 18px; /* 글꼴 크기 설정 */
        padding: 12px; /* 내부 여백 설정 */
    }

    button {
        font-size: 1em; /* 글꼴 크기 설정 */
        padding: 12px; /* 내부 여백 설정 */
    }
}
